body{
    background-image: url("Images/simple.jpg");
    font-size: 22px;
    font-family: cursive;
    text-align: center;
    min-height: 100vh;
}


.box img{
    width: 100%;
    height: 250px;
    margin-bottom: 15px;
}

.cities-into{
    margin-bottom: 5px;
}

.btn:link, 
.btn:visited,
input[type=submit]{
    background-color: lightgray;
    width: 250px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    border: 1px solid gray;
    -webkit-transition: background-color 0.2s,border 0.2s, color 0.2s;
    transition: background-color 0.2s,border 0.2s, color 0.2s;
}



.btn-ghost:link,
.btn-ghost:visited{
    color:gray;
}   

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    
    background-color: gray;
    border: 1px solid grey;
    
}


.btn-ghost:hover,
.btn-ghost:active{
    color: white;
}

#wishlogo{
	height: 80px;
  	margin-top: 5rem;
  	margin-bottom: 2rem;
  	margin-right: 1rem;
  	background-image: url(Images/wish.svg);
  	background-size: contain;
 	background-position: center;
 	background-repeat: no-repeat;
}

#main-footer{
	font-family: sans-serif;
	margin-right: 2em;
	font-size: 15px;
  width: 100%;
}